<table>
  <thead>
  <tr>
    <th>Titre</th>
    <th>Auteur</th>
    <th>Prix unitaire HT</th>
    <th>Quantité</th>
    <th>Montant HT</th>
    <th>Montant TTC</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of rowsArray"
      [class.big]="isBig(row)">
    <td>{{row.title}}</td>
    <td>{{row.author}}</td>
    <td class="right">{{row.price |currency:'EUR'}}</td>
    <td class="right">
      <input type="number"
             [(ngModel)]="row.quantity"
             (change)="row.quantity">
    </td>
    <td class="right">{{row.ht() |currency:'EUR'}}</td>
    <td class="right">{{row.ttc() |currency:'EUR'}}</td>
    <td>
      <button (click)="remove.emit(row)">Supprimer</button>
    </td>
    <td>
      <div class="bar-chart" [style.width.px]="row.ht()"></div>
    </td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="4">Total</td>
    <td class="right">{{totalHt() |currency:'EUR'}}</td>
    <td class="right">{{totalTtc() |currency:'EUR'}}</td>
    <td></td>
  </tr>
  </tfoot>
</table>
